 /* estiliza navegação e lista do cabeçalho */
 .navbar-links li.active
 {
    color:#808591;
 }
 .navbar-links li:hover
 {
    color: black;
 }
 /* Alinhas links do cabeçalho */
 .navbar-links{
    display: flex;
    gap: 16px;
 }
 
  /* Redefine formatação dos elementos ancora e lista */
  a {
    text-decoration: none;
    color: inherit;
 }
 
 li {
 list-style-type: none;
 }